nav {
	background-color: transparent;
	box-shadow: none;
}

nav ul a {
	color: #444;
}

nav ul a:hover {
	background-color: transparent;
}

footer.page-footer {
	background-color: white;
}

select {
	width: 67%;
}

h5 {
	color: #7E7E7E;
	font-size: 15px;
}

a {
	color: #848484;
	font-size: 13px;
	
}

a:hover {
	text-decoration: underline;
}

.copyright {
	color: #848484;
	padding: 10px;
}